#alertgood {
    display: none;
    position: absolute;
    margin: auto;
    width: 70dvw;
    height: fit-content;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-bottom: 2dvh;
    text-align: center;
}
#alert_fetchfailed {
    display: none;
    position: absolute;
    margin: auto;
    width: 70dvw;
    height: fit-content;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-bottom: 2dvh;
    text-align: center;
}