#edit-link-form{
    max-width: 60dvw;
}
.inline{
    display: flex;
}
.textinline{
    margin-left: 0.2dvw;
}
.flex-buttons{
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 720px) {
    #edit-link-form{
        min-width: 90dvw;
        max-width: 90dvw;
    }
}