@import "bootstrap/dist/css/bootstrap.min.css";
@import "./alerts.scss";

body {
    margin: 0;
}
.flex {
    display: flex;
    justify-content: space-between;
}
.flex p {
    height: fit-content;
    margin-top: auto;
}
.flex-x-center{
    justify-content: space-around !important;
}